# Ignore Python virtual environments
venv/

# Ignore compiled Python files
*.pyc

# Ignore the local settings file
*.DS_Store

# Ignore the Jupyter Notebook checkpoints
*.ipynb

# Ignore the data folder
data/

# Ignore the models folder
models/

__pycache__/
